component: mysql_56_rds
data_source_type: Cloudwatch
metrics_source: built-in
reference: https://aws.amazon.com/rds/mysql/
description: Provide a reliable solution for mysql rds
panels:
  - title: (U) CPU Utilization Percentage
    type: Graph
    description: The percentage of CPU utilization.
    targets:
      {% for dimension in data %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      region: {{ dimension.region or 'default' }}
      metric: CPUUtilization
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      ref_no: {{ loop.index }}
      {% endfor %}
    labelY1: Utilization
    formatY1: percent
    alert_config:
      priority: P3
      message: 'CPU Utilisation is High'
      rule:
        for_duration: 10m
        evaluate_every: 1m
      condition_query:
      {% for dimension in data %}
        - OR,avg,{{ loop.index }},now,5m,gt,75
      {% endfor %}

  - title: (U) Database Connection Count
    type: Graph
    description: The number of database connections in use
    targets:
      {% for dimension in data %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      region: {{ dimension.region or 'default' }}
      metric: DatabaseConnections
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
      ref_no: 1
    alert_config:
      priority: P4
      message: 'Too many database connections'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
      {% for dimension in data %}
        - OR,avg,{{ loop.index }},now,5m,gt,200
      {% endfor %}

  - title: (U) Freeable Memory
    type: Graph
    description: The amount of available random access memory. This metric reports the value of the MemAvailable field of /proc/meminfo)
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: FreeableMemory
        namespace: AWS/RDS
        statistic: Average
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        {% endfor %}
    labelY1: Freeable Memory
    formatY1: bytes

  - title: (U) Network Throughput (Bytes/Second)
    type: Graph
    description: The incoming (Receive|Transmit) network traffic on the DB instance, including both customer database traffic and Amazon RDS traffic used for monitoring and replication
    targets:
      {% for dimension in data %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      region: {{ dimension.region or 'default' }}
      metric: NetworkReceiveThroughput
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      region: {{ dimension.region or 'default' }}
      metric: NetworkTransmitThroughput
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    labelY1: Throughput(Bytes/Second)
    formatY1: Bps

  - title: (U) Read/Write Throughput (Bytes/Second)
    type: Graph
    description: The average number of bytes read from/written to disk per second.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: ReadThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: WriteThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    labelY1: Throughput
    formatY1: Bps

  - title: (U) Free Storage Space
    type: Graph
    description: The amount of available storage space
    targets:
      {% for dimension in data %}
        {% if not dimension.get('is_aurora', false) %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: FreeStorageSpace
        namespace: AWS/RDS
        statistic: Minimum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        ref_no: {{ loop.index }}
          {% endif %}
        {% endfor %}
    labelY1: Free Space
    formatY1: bytes
    alert_config:
      priority: P3
      message: 'Free Storage Space is Low'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
      {% for dimension in data %}
        - OR,min,{{ loop.index }},now,5m,lt,50*1024*1024*1024
      {% endfor %}

  - title: (S) Disk Queue Depth
    type: Graph
    description: The number of outstanding IOs (read/write requests) waiting to access the disk.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: DiskQueueDepth
        namespace: AWS/RDS
        statistic: Average
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        {% endfor %}

  - title: (D) Read/Write latency
    type: Graph
    description: The maximum amount of time taken per disk read/write I/O operation.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: ReadLatency
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: WriteLatency
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    labelY1: seconds
    formatY1: s

  - title: (U) Disk Burst Balance
    type: Graph
    description: The percentage of Burst Balance remaining
    targets:
      {% for dimension in data %}
        {% if dimension.get('is_disk_gp2', true) and not dimension.get('is_aurora', false) and dimension.get('is_burst_balance_panel_required', true) %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      region: {{ dimension.region or 'default' }}
      metric: BurstBalance
      namespace: AWS/RDS
      statistic: Average
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      ref_no: {{ loop.index }}
        {% endif %}
      {% endfor %}
    formatY1: percent
    alert_config:
      priority: P3
      message: 'Disk Burst Balance is low'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
      {% for dimension in data %}
        - OR,avg,{{ loop.index }},now,5m,lt,75
      {% endfor %}

  - title: (D) Replication Lag (Only for read replicas)
    type: Graph
    description: The max amount of time a Read Replica DB instance lags behind the source DB instance.
    targets:
      {% for dimension in data %}
        {% if dimension.get('is_replica', true) %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        region: {{ dimension.region or 'default' }}
        metric: ReplicaLag
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        ref_no: {{ loop.index }}
          {% endif %}
        {% endfor %}
    labelY1: seconds
    formatY1: s
    alert_config:
      priority: P4
      message: 'Replication Lag is High'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
      {% for dimension in data %}
        - OR,min,{{ loop.index }},now,5m,gt,10
      {% endfor %}

  - title: (D) Slow Query Count
    type: Graph
    description:  No of slow queries
    targets:
      {% for dimension in data %}
      - dimensions: {}
        region: {{ dimension.region or 'default' }}
        metric: SlowQueryCount-{{ dimension.db_instance_identifier }}
        namespace: RDSCustomMetric
        statistic: Maximum
        {% endfor %}

  - title: (E) Replication error count (Only for read replica)
    type: Graph
    description: Replication related errors from logs (Custom Metric)
    targets:
      {% for dimension in data %}
        {% if dimension.get('is_replica', true) %}
      - dimensions: {}
        region: {{ dimension.region or 'default' }}
        metric: ReplicationErrorCount-{{ dimension.db_instance_identifier }}
        namespace: RDSCustomMetric
        statistic: Maximum
          {% endif %}
        {% endfor %}
