component: pgsql
data_source_type: Cloudwatch
metrics_source: built-in
reference: https://aws.amazon.com/rds/postgresql/
description: USE-RED metrics for Postgres RDS
panels:
  - title: (U) CPU Utilization Percentage
    type: Graph
    description: The percentage of CPU utilization.
    targets:
      {% for dimension in data %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      metric: CPUUtilization
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      ref_no: 1
      {% endfor %}
    formatY1: percent
    alert_config:
      priority: P3
      message: 'CPU Utilisation is High'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
        - OR,avg,1,now,5m,gt,75

  - title: (U) Database Connection Count
    type: Graph
    description: The number of database connections in use
    targets:
      {% for dimension in data %}
    - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
      metric: DatabaseConnections
      namespace: AWS/RDS
      statistic: Maximum
      alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      ref_no: 1
      {% endfor %}
    alert_config:
      priority: P4
      message: 'Too many database connections'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
        - OR,avg,1,now,5m,gt,500

  - title: (D) Read/Write latency
    type: Graph
    description: The maximum amount of time taken per disk read/write I/O operation.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: ReadLatency
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        ref_no: 1
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: WriteLatency
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        ref_no: 2
      {% endfor %}
    formatY1: s

  - title: (U) Read/Write IOPS
    type: Graph
    description: The average number of disk read/write I/O operations per second
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: ReadIOPS
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: WriteIOPS
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    formatY1: iops

  - title: (U) Freeable Memory
    type: Graph
    description: The amount of available random access memory. This metric reports the value of the MemAvailable field of /proc/meminfo)
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: FreeableMemory
        namespace: AWS/RDS
        statistic: Average
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        {% endfor %}
    formatY1: bytes

  - title: (U) Free Storage Space
    type: Graph
    description: The amount of available storage space
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: FreeStorageSpace
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
        ref_no: 1
      {% endfor %}
    formatY1: bytes
    alert_config:
      priority: P3
      message: 'Free Storage Space is Low'
      rule:
        for_duration: 5m
        evaluate_every: 1m
      condition_query:
        - OR,min,1,now,5m,lt,50*1024*1024*1024

  - title: (U) Network Throughput (Bytes/Second)
    type: Graph
    description: The incoming (Receive|Transmit) network traffic on the DB instance, including both customer database traffic and Amazon RDS traffic used for monitoring and replication
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: NetworkReceiveThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: NetworkTransmitThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    formatY1: Bps

  - title: (U) Read/Write Throughput (Bytes/Second)
    type: Graph
    description: The average number of bytes read from/written to disk per second.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: ReadThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: WriteThroughput
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}
    formatY1: Bps

  - title: (U) Transaction Log Disk Usage
    type: Graph
    description: The disk space used by transaction logs. Applies to PostgreSQL.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: TransactionLogsDiskUsage
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}

  - title: (S) Disk Queue Depth
    type: Graph
    description: The number of outstanding IOs (read/write requests) waiting to access the disk.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: DiskQueueDepth
        namespace: AWS/RDS
        statistic: Average
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}

  - title: (S) Swap Usage
    type: Graph
    description: The amount of swap space used on the DB instance.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: SwapUsage
        namespace: AWS/RDS
        statistic: Average
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}

  - title: (D) Replication Lag (Only for read replicas)
    type: Graph
    description: The max amount of time a Read Replica DB instance lags behind the source DB instance.
    targets:
      {% for dimension in data %}
      - dimensions: {"DBInstanceIdentifier": {{ dimension.db_instance_identifier }}}
        metric: ReplicaLag
        namespace: AWS/RDS
        statistic: Maximum
        alias: '{{ '{{DBInstanceIdentifier}}_{{metric}}_{{stat}}' }}'
      {% endfor %}

  - title: (D) Slow Query Count
    type: Graph
    description: No of slow queries
    targets:
      {% for dimension in data %}
      - dimensions: {}
        metric: SlowQueryCount-{{ dimension.db_instance_identifier }}
        namespace: RDSCustomMetric
        statistic: Maximum
      {% endfor %}

  - title: (E) Replication error count (Only for read replica)
    type: Graph
    description: Replication related errors from logs (Custom Metric)
    targets:
      {% for dimension in data %}
      - dimensions: {}
        metric: ReplicationErrorCount-{{ dimension.db_instance_identifier }}
        namespace: RDSCustomMetric
        statistic: Maximum
      {% endfor %}
