.addAlert(
      '{{data.rule.name}}',
      executionErrorState='alerting',
      forDuration='{{data.rule.for_duration}}',
      frequency='{{data.rule.evaluate_every}}',
      handler=1,
      message='Priority: {{data.priority}}\n Message: {{data.message}}',
      noDataState='no_data',
      notifications={{data.alert_ids}},
    )
