.addCondition(
    alertCondition.new(
        evaluatorParams=[{{data.evaluatorParams}}],
        evaluatorType='{{data.evaluatorType}}',
        operatorType='{{data.operatorType}}',
        queryRefId='{{data.queryRefId}}',
        queryTimeEnd='{{data.queryTimeEnd}}',
        queryTimeStart='{{data.queryTimeStart}}',
        reducerParams={{data.reducerParams}},
        reducerType='{{data.reducerType}}',
    )
)