.addAlert(
      '{{data.rule.name}}',
      executionErrorState='alerting',
      forDuration='{{data.rule.for_duration}}',
      frequency='{{data.rule.evaluate_every}}',
      handler=1,
      message='Priority: {{data.priority}}\n Message: {{data.message}}',
      noDataState='no_data',
      notifications={{data.alert_ids}},
      alertRuleTags={'og_priority': '{{data.priority}}' ,
                      'og_service': '{{data.alert_service}}',
                    },
    )
