.addTarget(
    cloudwatch.target(
    {% if data.region is not none %}
        '{{data.region}}',
    {% else %}
        'default',
    {%endif%}
    '{{data.namespace}}',
    '{{data.metric}}',
    datasource=null,
    statistic='{{data.statistic}}',
    alias='{{data.alias}}',
    highResolution='false',
    period='1m',
    dimensions={{data.dimensions}}
    )
)
