.addTarget(
    cloudwatch.target(
    '{{data.region or 'default'}}',
    '{{data.namespace}}',
    '{{data.metric}}',
    datasource=null,
    statistic='{{data.statistic}}',
    alias='{{data.alias}}',
    highResolution='false',
    period='1m',
    {% if data.get('dimensions') is not none %}
    dimensions={{data.dimensions}},
    {%endif%}
    {% if data.get('expression') is not none %}
    expression="{{data.expression}}",
    {%endif%}
    )
)
