apiVersion: v2
name: legend
description: Grafana Dashboard Generator
home: https://github.com/grofers/legend

type: application
version: 0.1.0
appVersion: 0.1.0

keywords:
  - grafana
  - monitoring
  - legend

maintainers:
  - name: grofers
    email: tech@grofers.com
