
local grafana = import 'grafonnet/grafana.libsonnet';
local dashboard = grafana.dashboard;
local template = grafana.template;
local text = grafana.text;
local row = grafana.row;
local singlestat = grafana.singlestat;
local graphPanel = grafana.graphPanel;
local prometheus = grafana.prometheus;
local cloudwatch = grafana.cloudwatch;
local influxdb = grafana.influxdb;
local alertCondition = grafana.alertCondition;

{% for component, values in data.components.items() %}
{% set comp = 'R_' ~ loop.index %}
local {{ comp }} =
    row.new(title='{{ component }}',
    {% if values.metric.get('hide') is not none %}
        collapse=true,
    {%endif%}
    );
    {% for panel_value in values.metric.panels %}

local {{ comp }}_P_{{loop.index}} =
    graphPanel.new(
        title='{{ panel_value.title }}',
        datasource='{{ values.metric.data_source }} ({{ data.environment }})',
        shared_tooltip='true',
        legend_values='true',
        legend_min='true',
        legend_max='true',
        legend_current='true',
        legend_avg='true',
        legend_alignAsTable='true',
        nullPointMode='connected',
    )

        {% for target in panel_value.targets %}
{{ target.render }}
        {% endfor %}
    {{ panel_value.alertrender }}

;
    {% endfor %}


{% endfor %}




local sdp =
    text.new(
        title='Service Description',
        span=null,
        mode='markdown',
        content='# {{ data.title }} \n\n\n #### Components \n{% for component, component_values in data.components.items() -%} \n\n [{{ component }}]({{component_values.metric.reference}}): {{component_values.metric.description}}  {% endfor -%} \n\n\n #### References {% for reference in data.references -%} \n\n {% for k,v in reference.items() -%} [{{ k }}]({{ v }}) {% endfor -%} {% endfor -%}',
        transparent=null,
        description=null,
        datasource=null,
    )
;


dashboard.new(
'{{ data.title }} - {{ data.environment }}',
tags={{ data.tags }},
schemaVersion=18,
editable='true',
time_from='now-1h',
refresh='1m',
)

.addPanels([ sdp { gridPos: { h: 10, w: 15, x: 0, y: 0 },},])

.addPanels(
  [
    {{ data.assemble_panels }}
  ]
)

