---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: kube-system
  name: grafana-dashboard-account
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-dashboard-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: grafana-dashboard-account
    namespace: kube-system
